.d3-svg {
    padding: 20px;
}

div[class^="d3__wrapper"] {
    display: inline-block;
    position: relative;
    border-bottom: 3px solid #e4e4e4;
    margin-right: 50px;
    padding-bottom: 20px;
}